<div id="emptySearchImage" class="text-center">
  <%# Replace URL for Image here ↓ %>
  <%= image_tag("https://thumb.ac-illust.com/ea/eafefd752b3f2c3ae98c0884787043ad_w.jpeg", alt: "Search Clipart", class: "girl") %>
</div>
<div data-refresh-list-target="result">
  <% if params[:query].present? %>
    <% (@additives + @allergens).each do |item| %>
      <% if item.name.downcase.include?(params[:query].downcase) %>
        <div class="card card-trip search_results mb-3 od py-1 px-2" data-controller="enty-thinner" data-action="click->enty-thinner#dropdown">
          <div class="p-3">
            <div class="overflow-container" data-enty-thinner-target="text">
              <%# Arrow symbol is here %>
              <p class="pt-2 mb-0 fs-5"> <% if @additives.include?(item) && [item.information, item.purpose, item.url].any?(&:present?) || @allergens.include?(item) && item.icon.present? %>
                  <i class="fa-solid fa-caret-down"></i>
                <% end %> Name: <%= item.name.capitalize %> </p>
            </div>
          </div>
          <div class="justify-content-center p-3 d-none" data-enty-thinner-target="details">
            <div class="justify-content-center p-3">
              <% if item.information.present? %>
                <p class="pt-2 mb-2 fs-5"> Information: <%= item.information %></p>
              <% end %>
              <% if @additives.include?(item) && item.purpose.present? %>
                <p class="pt-2 mb-0 fs-5">Purpose: <%= item.purpose %></p>
              <% end %>
              <% if @additives.include?(item) && item.url.present? %>
                Reference URL: <a href="<%= item.url %>" target="_blank"><%= item.url %></a>
              <% end %>
              <div class="icon">
                <% if @allergens.include?(item) && item.icon.present? %>
                  <%= image_tag item.icon, class: "icon-smaller" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
